[package]
authors = ["Ceri Storey <cez@necrofish.org.uk>"]
description = "Hybrid Logical Clocks"
homepage = "https://github.com/cstorey/hybrid-clocks"
license = "MIT"
name = "hybrid-clocks"
version = "0.4.0"

[dependencies]
quick-error = "1.0.0"
suppositions = "0.1.4"
time = "0.1.35"

[dependencies.serde]
optional = true
version = "1.0"
[dependencies.serde_derive]
optional = true
version = "1.0"

[features]
serialization = ["serde", "serde_derive"]
deserialize-v1 = []

[dev-dependencies]
serde_json = "1.0"

[profile]

[profile.release]
debug = true
